<h1>Products: Index View </h1>


<%= link_to("Create a Product", new_product_path) %>


<% @products.each do |product| %>
<br>
<%= product.name %>
<br>
<%= product.description %>
<br>
<%= product.formatted_price %>
<br>

<% end %>
